# Python
__pycache__/
*.pyc

# pip/Poetry
*.egg-info/
dist/
build/
#poetry.lock

# Виртуальное окружение
venv/
.venv/

# IDE
.idea/

# Git
.git/
.gitignore

# Кеши тестов
.pytest_cache/
.coverage

# Docker
Dockerfile
docker-compose.yml

# Локальные логи
*.log
